@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2c2c2e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hero-gradient {
  position: relative;
  z-index: 1;
  background: radial-gradient(circle 18rem at 105% 50%, #6B5BE5, #F9F9F9);
}

.hero-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: radial-gradient(circle 28rem at 100% 50%, #6B5BE5, #F9F9F9);
  filter: blur(100px);
}

@media (max-width: 768px) {
  .hero-gradient {
    background: radial-gradient(circle 0rem at 105% 50%, #6B5BE5, #F9F9F9);
  }

  .hero-gradient::before {
    background: radial-gradient(circle 14rem at 100% 50%, #6B5BE5, #F9F9F9);
  }
}

.card-gradient-1 {
  background: url('/card-gradient-1.png') no-repeat center center, #6B5BE5;
  background-size: cover;
}

.card-gradient-2 {
  background: url('/card-gradient-2.png') no-repeat center center, #F9F9F9;
  background-size: cover;
}